@import '/src/css/mixins';

.cell {
  @include divider();
  composes: flexCenter from global;
  composes: cell_gray from '../../styles/Cells.module.scss';
  width: 100%;
  height: 100%;
  transition: all .1s ease;

  &_borderless {
    border-right: 0;
  }

  &.highlighted {
    background-color: var(--table-highlight);
  }
}